body {
    font-family: 'Lato', sans-serif;
    background-color: #2a4b6a;
}
.center{
    position: relative;
    margin: auto;
    width: 275px;
    height: 240px;
    padding: 15px;
    background-color: #1b2838;
    border-radius: 3px;
    font-size: 12px;
}
.center > h2{
    font-weight: 300;
    font-size: 18px;
    color: #67c1f5;
    padding: 0;
    margin: 0;
}
.center > p{
    color: #c6d4df;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.login-row{
    padding: 0;
    margin-top: 20px;
    color: #c6d4df;
    font-size: 12px;
}
.input{
    color: white;
    display: block;
    background-color: #2a4b6a;
    border: 1px solid black;
    border-radius: 3px;
    width: 260px;
    height: 18px;
    padding: 2px 4px;
    box-shadow: 1px 1px 0px #1b2838;
    margin: 4px 0;
    font-size: 16px;
}
.button{
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #2a4b6a;
    color: #67c1f5;;
}
.button:hover{
    border: none;
    background-color: #5aaaea;
    color: white;
}
.button > span{
    padding: 0 15px;
    font-size: 15px;
}
.chek{
    padding: 3px 3px 0;
    margin: 0;
    color: #c6d4df;
}
